<?xml version="1.0" encoding="UTF-8"?><!--
    	Copyright (c) 2011, The Dojo Foundation All Rights Reserved.
    	Available via Academic Free License >= 2.1 OR the modified BSD license.
    	see: http://dojotoolkit.org/license for details
 -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
</web-app>